@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';

$light: #f7f7f7;
$dark: #2a2b2c;
$primary: #61aeea;

$gutter: 1.66rem;

.stack {
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: $gutter;
  }
}

body,
html {
  background-color: $light;
  color: $dark;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  scroll-behavior: smooth;

  ::selection {
    background-color: $primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.4em;

  span {
    box-shadow: inset 0 -0.1em 0 $light, inset 0 -0.375em 0 $primary;
  }
}

p {
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}

a,
a:visited {
  font-weight: 400;
  color: $dark;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform: scale(0, 1);
    transition: transform 0.25s;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $dark;

    &:after {
      transform: scale(1, 1);
    }
  }

  &.no-hover:after {
    display: none;
  }
}

section {
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;

  &.generator-section {
    padding-bottom: $gutter;
  }
}

#wrapper {
  position: relative;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 900px;
}

.speech {
  display: block;
  padding: 15px 20px;
  min-height: 200px;
  position: relative;
  background: $dark;
  border-radius: 0.4em;
  color: $light;
  margin: 0;
  margin-bottom: $gutter;

  &.right {
    font-style: italic;
    color: $dark;
    background-color: $primary;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   width: 0;
  //   height: 0;
  //   border: 29px solid transparent;
  //   margin-top: -29px;
  // }

  // &.left:after {
  //   left: 0;
  //   border-right-color: $dark;
  //   border-left: 0;
  //   margin-left: -29px;
  // }
  // &.right:after {
  //   right: 0;
  //   border-left-color: $dark;
  //   border-right: 0;
  //   margin-right: -29px;
  // }
}

.tears-input {
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  min-height: 160px;
  outline: none;
  color: $light;

  &::placeholder {
    color: $light;
  }
}

.sad-cat {
  width: 250px;
}

pre {
  margin-bottom: 0;
}

code.hljs {
  padding: 20px;
  background-color: $dark;
  border-radius: 5px;
  margin-bottom: $gutter;

  &.double {
    margin-bottom: $gutter * 2;
  }
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-width: 1px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.card-list {
  padding-top: 60px;
  padding-bottom: 15px;
  margin: ($gutter * 2) -15px;
  background-color: $dark;
  color: $light;
}

.info-card {
  margin-bottom: 45px;
  text-align: center;
}

.info-card-emoji {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.info-card-label {
  font-weight: 400;
  font-size: 1.25rem;
}

.nav-contain {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop {
  font-size: 2.5rem;
  line-height: 1;
  display: inline-block;
  margin-left: -10px;
  margin-right: 10px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;

  a {
    margin-left: 15px;
    margin-right: 15px;
  }
}

footer {
  text-align: center;
  padding-bottom: $gutter * 2;
}

label {
  margin-bottom: 0;
}

// .text-right {
//   text-align: right;
// }
