h1#generator Tears Generator

.row.align-items-center.cat-contain
  .col-auto
    img.sad-cat(src=require('../assets/sadcat.png'), alt="im ..just nrot crying youc're  cryinng")

  .col
    p
      label(for="tears") Type in here

    label.speech.left
      textarea.tears-input#tears(name="tears" placeholder="give me your tears coward")

.row.align-items-center.cat-contain
  .col
    p Tears come out here
    div.speech.right ,give m..e yyourr teaars coward

  .col-auto
    img.sad-cat(src=require('../assets/crycat.png'), alt="im ..just nrot crying youc're  cryinng")