section
  .container
    h1#generator
      span Tears Generator

    .row.cat-contain
      .col-md-6
        p
          label(for="tears") Type in here

        label.speech.left
          textarea.tears-input#tears(name="tears" placeholder="I'm so so sorry please forgive me I'll do anything")

      .col-md-6
        p.text-right Tears come out here
        div#out.speech.right ,give m..e yyourr teaars coward
