section
  .container
    .row
      .col-sm-9.stack
        h1
          span You spoke, and we didn't listen - so we made APCry.

        p.
          <em>"Flip in hell"</em>, you say. <em>"what the h*ck is that?"</em>, you ask.
          Well buckle up and grab your tissues, because APCry is a cry-typing generator
          and open API for creating maximum tears on the fly.

        p.
          Use the <a href="#generator">Generator</a> below or our
          <a href="#api">free API</a> to bring tears to your day.
