.container
  h1#api Crytype API
  
  p Use our free, open API and let users crytype-ify text in your app.
  p <em>"But why?"</em>, you ask? Why the hell not. Make a Discord bot or something. Pop off.

.card-list
  .container
    .row
      .col-md-4
        .info-card
          .info-card-emoji 💨
          p.info-card-label Simple HTTP interface
          span give us your text and receive some tears

      .col-md-4
        .info-card
          .info-card-emoji 🔑
          p.info-card-label No API key required
          span get started straight away

      .col-md-4
        .info-card
          .info-card-emoji 💸
          p.info-card-label Free to use
          span just a simple thanks in your readme/source would be chill
