.stack
  h2
    span API Requests

  p Make <code>POST</code> requests to <code>`https://api.apcry.ratpack.dev/cry`</code>

  pre
    code.double.
      const apcry = 'https://api.apcry.ratpack.dev/cry'
      const input = 'oof owie my head'

      axios.post(apcry, { input }).then(({ data }) => {
        console.log(data.tears);
        // oof,, owfi.e my heeaad
      });
