h2 API Requests
p Make <code>GET</code> requests to <code>`https://apcry.deadbird.dev/api/{text to be crytyped}`</code>
pre
  code.
    fetch('https://apcry.deadbird.dev/api/oof owie my head').then(function(res) {
      console.log(res.tears);
      // oof,, owfi.e my heeaad
    });
