h2
  span API Requests

p Make <code>GET</code> requests to <code>`https://api.apcry.deadbird.dev/{text to be crytyped}`</code>
pre
  code.
    fetch('https://api.apcry.deadbird.dev/oof owie my head').then(function(res) {
      console.log(res.tears);
      // oof,, owfi.e my heeaad
    });
