h2 API Responses

h3 Code 200
p S'all good. Go nuts. Enjoy tears.
pre
  code.
    {
      "status": 200,
      "input": "I wish there was an API that could integrate crytyping into my Discord Bot",
      "tears": "i w,,ihs ttherre w,was an   api thhat cuold inntegrate crytyping int  o my d iscord bot"
    }

h3 Code 400
p Invalid parameters - you probably didn't send any text. Nice one.
pre
  code.
    {
      "status": 400,
      "message": "No text supplied"
    }

h3 Code 429
p Whoa, just take it easy man - you've exceeded your rate limit.
pre
  code.
    {
      "status": 429,
      "message": "alright there cowboy, time to stop 🤠"
    }
