.stack
  h2
    span API Responses

  h3
    span Code 200
  p S'all good. Go nuts. Enjoy tears.
  pre
    code.
      {
        "input": "I wish there was an API that could integrate crytyping into my Discord Bot",
        "tears": "i w,,ihs ttherre w,was an   api thhat cuold inntegrate crytyping int  o my d iscord bot"
      }

  h3
    span Code 400
  p Invalid parameters - you probably didn't send any text. Nice one.
  pre
    code.
      No text supplied

  h3
    span Code 413
  p Yikes dude, that's a lot of text you want converted. A bit too much...
  pre
    code.
      oh noes, that's too much string my guy (╥_╥)

  h3
    span Code 429
  p Whoa, just take it easy man - you've exceeded your rate limit.
  pre
    code.
      alright there cowboy, time to stop 🤠
